* {
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  letter-spacing: 0.5px;
}

body {
  margin: 0%;
  overflow: hidden;
  position: relative;
  height: 100vh;
}

body,
p {
  font-family: "Nunito Sans", sans-serif;
}

h2 {
  font-family: "Changa", sans-serif;
  color: #ffffff;
  font-size: 250%;
  margin: 0%;
}

.background {
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: #7289da;
  padding: 0%;
  margin: 0%;
}
.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.logo img {
  width: 30%;
  height: auto;
}

.blob-1 {
  width: 500px;
  height: 500px;
  position: absolute;
  left: -5%;
  bottom: -10%;
  display: block;
  opacity: 15%;
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 2s infinite alternate;
}

.blob-2 {
  width: 600px;
  height: 600px;
  position: absolute;
  right: -16%;
  top: -6%;
  display: block;
  opacity: 15%;
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 6s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
.hidden {
  display: none;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.profilecard {
  width: 250px;
  border: 1px solid #19191d;
  background: #19191d;
  display: flex;
  flex-direction: column;
}

.profilecard .me {
  padding-top: 15px;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #19191d;
  color: #fff;
}

.profilecard .me .avatar {
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  width: 80px;
  height: 80px;
}

.profilecard .me .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profilecard .me .username {
  margin: 15px auto 15px auto;
  text-align: center;
  font-weight: 900;
  font-size: 14px;
}

.profilecard .description,
.profilecard .skill {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  color: #ffffff;
  font-size: 10px;
  flex-direction: column;
}

.skills li {
  border: 1px solid #2d2747;
  border-radius: 2px;
  font-weight: 700;
  display: inline-block;
  font-size: 11px;
  margin: 0 7px 7px 0;
  padding: 7px;
  list-style-type: none;
  border: 1px solid #969696;
}

.wb-full,
.wb-max {
  display: none;
}

.winbox {
  border-radius: 10px;
  max-width: 250px;
  max-height: 375px;
  min-height: 375px;
  min-width: 250px;
}

@media (max-width: 916px) {
  .blob-1 {
    left: -80%;
    bottom: -23%;
  }
  .blob-2 {
    right: -110%;
    top: -25%;
  }
  .logo img {
    width: 70%;
    height: auto;
  }
}
